:root {
  --bgColGlass: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1)
  );
  --borderGlass: 1px solid rgba(255, 255, 255, 0.1);
  --shadowGlass: 0 3px 20px 3px rgba(255, 255, 255, 0.3);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  line-height: 200%;
  color: #fdf2e9;
  font-size: x-large;
  font-weight: 300;
  font-family: "Quicksand", sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 12vh;
}
body {
  /* background: linear-gradient(#402e2a, #947c70, #9d8b85); */
  /* background: linear-gradient(#0a0f3c, #2c5da9, #9fbef5); */
  /* background: linear-gradient(#1f2a24, #5b7768, #b7c8b1); */
  background: linear-gradient(
    100deg,
    #000000,
    #141414,
    #1c1c1c,
    #232323,
    #373737
  );
  width: 100vw;
  overflow-x: hidden;
}
#root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: inherit;
}
header,
#nav-ul,
#contact,
#headings,
#inside-skills,
.common-section,
.content,
.card2,
.row,
.subHeadings,
.para,
.second {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* header css */
header {
  justify-content: center;
}
.glass {
  background-color: var(--bgColGlass);
  /* border: var(--borderGlass); */
  /* box-shadow: var(--shadowGlass); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
nav {
  width: 80vw;
  position: fixed;
  z-index: 1;
  top: 2%;
  border-radius: 15px;
}
#nav-ul {
  width: inherit;
  justify-content: space-around;
}
.nav-li a {
  font-size: x-large;
  font-weight: 600;
}
.nav-li a:hover {
  text-shadow: 0 10px 15px rgba(253, 242, 233, 0.3);
  border-bottom: 2px solid rgba(253, 242, 233, 0.5);
  border-radius: 2px;
}

main {
  margin-top: 12vh;
  margin-bottom: 3%;
}

/* about css */
#headings {
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 2%;
  text-shadow: 0 10px 20px rgba(253, 242, 233, 0.3);
}
#headings h1,
.second h1 {
  font-family: "Roboto Mono", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
}
.faded {
  animation: fadeIn 3s forwards;
}
.faded2 {
  animation: fadeIn 5s forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 60%;
}
#about-text {
  width: 70%;
  overflow: hidden;
  font-size: 0.8rem;
}
#prof-pic {
  height: 50vh;
  width: 30%;
  clip-path: circle(50%);
}
#prof-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* techs css */

#inside-skills {
  justify-content: center;
  gap: 1rem;
}
.card2 {
  justify-content: center;
  padding: 1%;
  border-radius: 10px;
  height: 3rem;
  width: 9rem;
  border: var(--borderGlass);
  gap: 3%;
}

/* services css */
.second {
  justify-content: center;
  width: 100%;
  margin-bottom: 2%;
  text-shadow: 0 10px 20px rgba(253, 242, 233, 0.3);
}

.card {
  height: 8rem;
  width: 40%;
  padding: 1%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: var(--borderGlass);
  gap: 1%;
}
.subHeadings {
  font-size: large;
  height: 25%;
  text-align: center;
  width: 100%;
}
.para p {
  width: 100%;
  font-size: medium;
}

/* common styles */
section {
  touch-action: pan-y;
}
.common-section {
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}
.content {
  width: 100%;
  padding: 1% 11%;
  justify-content: center;
}
/* .block {
  animation: animate-on-scroll linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
} */

/* footer css */
#contact {
  justify-content: space-around;
  width: 80%;
  height: 10vh;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 2%;
}
.row {
  gap: 5px;
  align-self: center;
}

/* @keyframes animate-on-scroll {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
